<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InventoryMainServlet</servlet-name>
        <servlet-class>InventoryMainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supplierManage</servlet-name>
        <servlet-class>supplierManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procurementServlet</servlet-name>
        <servlet-class>procurementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail1</servlet-name>
        <servlet-class>SendMail11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quotationSupplier</servlet-name>
        <servlet-class>quotationSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quotationStaff</servlet-name>
        <servlet-class>quotationStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAppointment</servlet-name>
        <servlet-class>Servlet.CreateAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>Servlet.CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRegistration</servlet-name>
        <servlet-class>Servlet.CustomerRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerProfile</servlet-name>
        <servlet-class>Servlet.EditCustomerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Servlet.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>Servlet.SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLogin</servlet-name>
        <servlet-class>Servlet.StaffLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleRegistration</servlet-name>
        <servlet-class>Servlet.VehicleRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InventoryMainServlet</servlet-name>
        <url-pattern>/InventoryMainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supplierManage</servlet-name>
        <url-pattern>/supplierManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procurementServlet</servlet-name>
        <url-pattern>/procurementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail1</servlet-name>
        <url-pattern>/SendMail1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quotationSupplier</servlet-name>
        <url-pattern>/quotationSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quotationStaff</servlet-name>
        <url-pattern>/quotationStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAppointment</servlet-name>
        <url-pattern>/CreateAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRegistration</servlet-name>
        <url-pattern>/CustomerRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerProfile</servlet-name>
        <url-pattern>/EditCustomerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLogin</servlet-name>
        <url-pattern>/StaffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleRegistration</servlet-name>
        <url-pattern>/VehicleRegistration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- https://mvnrepository.com/artifact/org.glassfish/javax.mail -->
</web-app>
